<div align=center>
  <h2>Prioritization of Exome Data by Image Analysis</h2>
</div>
<p>
<br>
The aim of the PEDIA study is to investigate the value of computer-assisted
analysis of medical images and clinical features in the diagnostic workup of
patients with rare genetic disorders.
For this purpose, the phenotypic similarities of a patient to all known
monogenic disorders (<a href="https://www.omim.org" target="_blank">OMIM</a>)
are first quantified using next-generation phenotyping (NGP) approaches.
The resulting similarity scores are then combined with deleteriousness scores
from the molecular level to prioritize potential disease genes.
<br>
<br>
The performance of the approach is evaluated by assessing the diagnostic yield
that can be accomplished by working through this list. For the current cohort
the disease-causing gene is listed at the first position in 9 of 10 cases
(top-1-accuracy rate of 91%). If you are interested in joining the study or
using the <a href="https://github.com/PEDIA-Charite/PEDIA-workflow" target="_blank">software</a>
for your analysis, please contact us!
</p>
<div align=center>
  <%= image_tag("Workflow.png", :size=> "800x400") %>
</div>
<br>
<br>
