<h1>News</h1>
<p>
<strong>Learn more about PEDIA study for Translate NAMSE:</strong>
<br>
In Translate NAMSE the efficacy of exome sequencing in a routine diagnostic workup will be evaluated.
The following slides give a quick overview about how to submit a case to exome sequencing via the Face2Gene front-end. 
This initiates transfer of pseudonymized phenotype data to PEDIA study, which is a prerequisite for PEDIA scoring.

</p>
<div align=center>
  <a href="https://translate-namse.charite.de" target="_blank">
    <%= image_tag("namse.png", :size=> "300x170") %>
  </a>
</div>
<div align=center>
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRln48-NnuIUdwDIp67WBh58srmCvWN6P_MGHuPAjWcbPYBlGK08eWNStGFs_5o0BIix06B2ffoJROt/embed?start=false&loop=false&delayms=3000" frameborder="0" width="720" height="561" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
