<%= form_with(model: imprint, local: true) do |form| %>
  <% if imprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(imprint.errors.count, "error") %> prohibited this imprint from being saved:</h2>

      <ul>
      <% imprint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
