<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Dear <%= @user.title + ' ' + @user.first_name + ' ' + @user.last_name %></h1>
		<p>
		We are sorry that your account <%= @user.username %> has already been deactivated. 
		</p>
		<p>
		To login to the site, just follow this link: <%= @url %>.
		</p>
		<p>Thanks for joining and have a great day!</p>
	</body>
</html>
