<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>Dear <%= @user.title + ' ' + @user.first_name + ' ' + @user.last_name %></p>
		<p>
		Your account <%= @user.username %> has already been activated. 
		</p>
		<p>
		To login to the site, just follow this link: <%= @url %>.
		</p>
		<p>Thanks for joining and have a great day!</p>
		<p>Best regards,<br>
		The PEDIA Team</p>
	</body>
</html>
