<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to pedia-study.org, <%= @user.title + ' ' + @user.first_name + ' ' + @user.last_name %></h1>
		<p>
		You have successfully signed up to pedia-study.org. Your username is <%= @user.username %> and email is <%= @user.email %>. 
		Please wait for administrator to activate your account.
		</p>
		<p>
		To login to the site, just follow this link: <%= @url %>.
		</p>
		<p>Thanks for joining and have a great day!</p>
		<p>Best regards,<br>
		The PEDIA Team</p>
	</body>
</html>
