<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>There is a new registraion, <%= @user.email %></p>
		<p>
		Name: <%= @user.title + ' ' + @user.first_name + ' ' + @user.last_name %>
		<br>
		Institute: <%= @user.institute %>
		</p>
		<p>
		To approve this user, please review the profile in this link: <%= link_to 'User profile', @user %>.
		</p>
		<p>Thanks for joining and have a great day!</p>
		<p>Best regards,<br>
		The DPDL Team</p>
	</body>
</html>
