<h1> About DPDL </h1>
<p>
DPDL organizes phenotypic and molecular information of a patient in a new computer searchable way 
<a href="https://www.dropbox.com/s/40znrxja8amx888/DPDLExpose.pdf?dl=0" target='_blank'>(DPDL)</a>. 
The DPDL data structure is a prerequisite for novel scoring approach Prioritization of Exome Data by Image Analysis
<a href= "https://github.com/PEDIA-Charite/classifier" target="_blank">(PEDIA)</a> and <a href="https://www.dropbox.com/s/hu87myaro3dw5mm/manuscript.pdf?dl=0" target="_blank">OBM manuscript</a>.
PEDIA is the first approach that harnesses the power of computer vision for variant interpretation 
<a href= "http://face2gene.com/" target="_blank">(Face2Gene)</a>
</p>
<p>
<%= image_tag("uni_logo.png", :size => "240x120") %>
<br>
DPDL is developed by Tzung-Chien Hsieh at <a href= "https://www.igsb.uni-bonn.de/en" target="_blank">IGSB</a>.
</p>
<br>
<p>
<%= image_tag("logo_charite.png", :size => "300x120") %>
<br>
<br>
A team of data curators is constantly adding the latest case reports from the literature. 
If you are interested in joining the team as a data curator contact Dr. Martin Mensah (martin-atta.mensah@charite.de) at charite.
If you are interested in working on the data scientifically or as an alternative to OMIM, contact Prof. Peter Krawitz (pkrawitz@uni-bonn.de).
</p>

