<h1> Team </h1>
<p>
<%= image_tag("uni_logo.png", :size => "240x120") %>
<br>
The software for the PEDIA workflow is developed at IGSB as an open source software project.
If you would like to score your data by PEDIA, please sign up for an account
and contact <a href= "https://www.igsb.uni-bonn.de/en/team-1/peter-krawitz" target="_blank">
Prof. Peter Krawitz
</a>.
If you are interest in joining the development team,
please contact
<a href= "https://www.igsb.uni-bonn.de/en/team-1/tzung-chien-hsieh" target="_blank">Tzung-Chien Hsieh</a>.
If you want to integrate PEDIA scoring into your Lab IT please contact
<a href="mailto:tom@gene-talk.de">Dr. Tom Kamphans.</a>
</p>
<br>
<p>
<%= image_tag("logo_charite.png", :size => "300x120") %>
<br>
<br>
A team of data curators is constantly adding the latest case reports from the literature. 
If you are interested in joining the team as a data curator contact Dr. Martin Mensah (martin-atta.mensah@charite.de) at charite.
If you are interested in working on the data scientifically or as an alternative to OMIM, contact Prof. Peter Krawitz (pkrawitz@uni-bonn.de).
</p>
<div align=center>
  <%= image_tag("team.jpg", :size => "800x600") %>
</div>
<br>
