// Place all the styles related to the review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.outer {
	width:100%;
	margin:0 auto;
	position: relative;
}
.floatcontainer {
	float: right;
}
.inner {
	border:1px solid white;
	position:fixed;
}
.floatcontainer, .inner{
	width: 400px;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
