<div align=center>
  <h2>Prioritization of Exome Data by Image Analysis</h2>
  <br>
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRln48-NnuIUdwDIp67WBh58srmCvWN6P_MGHuPAjWcbPYBlGK08eWNStGFs_5o0BIix06B2ffoJROt/embed?start=false&loop=false&delayms=3000" frameborder="0" width="720" height="561" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
