<h2>Prioritization of Exome Data by Image Analysis</h2>
<br>
<p>Learn more about profiles for PEDIA. We are now collecting profile photos to train
a classifier that is able to extract the information that is contained in the side
view of a face. See how to contribute below.</p>
<div align=center>
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRln48-NnuIUdwDIp67WBh58srmCvWN6P_MGHuPAjWcbPYBlGK08eWNStGFs_5o0BIix06B2ffoJROt/embed?start=false&loop=false&delayms=3000" frameborder="0" width="720" height="561" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
