<h1>PEDIA dataset</h1>

<p>
The PEDIA datasets contains the following data for different evluation.
<ul>
  <li>Cross-Validation</li>
  <li>Deep-Gestalt publication test set</li>
</ul>
</p>

<p>
<b>1. Cross-Validation</b><br>
In jsons folder, there is 1KG folder which contains
the 679 json files simulated by 1KGP dataset for cross-validation.
<pre>
<code class="codeblock">
  # 1KG
  jsons/1KG/CV_gestalt/*.json
</code>
</pre>
</p>
<p>
<b>2. Deep-Gestalt publication test set</b><br>
In publication_simulation folder, there are 10 folder with REP prefix and number as suffix
which contains the deep gestalt publication data set simulated by the PEDIA cohort.
We simulated the cases randomly, so we ran the experiments for ten times. The suffix indicates
the number of run. In this experiment, we train on the PEDIA cohort, then test the model with 
the simulated deep gestalt cases.
<pre>
<code class="codeblock">
  # 1KG
  REP_0/jsons/1KG/train/
  REP_0/jsons/1KG/test/
</code>
</pre>

</p>
Please download the PEDIA datasets by the following link
<br>
<a href= "https://uni-bonn.sciebo.de/s/WULq5qTcOaUdMPf" target="_blank"><%= "Download PEDIA JSON files" %></a> 
Size: 42.6 MB
<br>
<a href= "https://uni-bonn.sciebo.de/s/IaSs0hFXDmA6HdD" target="_blank"><%= "Download publication test set" %></a>
Size: 218.1 MB
