<h1>PEDIA dataset</h1>

<p>
The PEDIA datasets contains the following files. 
In cv folder, there are 1KG and IRAN folder which contains
the json files simulated by 1KG and IRAN dataset for cross-validation.
In test folder, there are json files which have real exome data.
In train folder, 1KG and IRAN folder contain the json files which
have no real exome data and simulated by 1KG and IRAN data set.
</p>
Please download the PEDIA dataset by the following link
<%= link_to 'Download JSON files', pedia_services_download_file_url %>.
